.cm-editor {
  max-height: 20rem;
  background-color: white;
  border: 1px solid #999;
}

.cm-focused {
  outline: 2px solid #606060 !important;
}

/* .cm-content, .cm-gutter { min-height: 10rem; } */
.cm-gutters { margin: 1px; height: 100%; }
.cm-scroller { overflow: auto; }
.cm-wrap { border: 1px solid silver }

.cm-underline {
  border-bottom: 2px solid rgb(0, 185, 25);
  background-color: rgba(0, 185, 25, 0.1);
}

.cm-tooltip {
  max-width: 30em;
}