@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.warning {
  background-color: rgb(244, 224, 255);
  border-color: rgb(218, 151, 255);
  color: rgb(145, 59, 192);
  --shadow-box-color: rgb(212, 133, 255);
  padding: 2em;
  margin-top: 2em;
  text-align: center;
}

h2 {
  font-size: 1.2em;
}

pre.sourceCode {
  font-size: 1.04em;
  padding: 1.0em;
  background-color: #f6f6f6;
}

p {
  line-height: 1.4em;
}

blockquote {
  margin-left: 0;
  padding-left: 0.5em;
  border-left: 1px solid #808080;
}

blockquote p {
  color: #808080;
}

body {
  font-family: "Lora";
}