.demo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;

  background-color: #fefefe;
  border: 2px solid rgb(188, 220, 184);
}

.top {
  flex-grow: 1;
  position: relative;
  grid-area: top;
}

.bottom {
  flex-basis: 60%;
  flex-grow: 1;
  overflow: none;
}

.bottom-split {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.bottom-split-left {
  flex-basis: 30%;
  flex-grow: 1;
  padding: 0.5em;
  background-color: #eee;
  overflow: scroll;
}

.bottom-split-right {
  flex-basis: 70%;
  flex-grow: 1;
  padding: 0.5em;
  background-color: #eee;
  overflow: scroll;
}

button.btn {
  background-color: white;
  border: 1px solid black;
  padding: 0.5em;
}

button.btn:hover {
  background-color: #eee;
}